name: Build Android APK

on:
  # Runs on pushes targeting the default branch
  push:
    branches:
      - "main"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: pubspec.yaml # path to pubspec.yaml
          cache: true
      - name: Get Flutter dependencies
        run: flutter pub get

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: dart run build_runner build
      - run: flutter test

  package:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Build APK
        run: flutter build apk
      - name: Archive APK
        uses: actions/upload-artifact@v4
        with:
          name: unustasis-apk
          path: build/app/outputs/flutter-apk/app-release.apk
      - name: Build AppBundle
        run: flutter build appbundle
      - name: Archive AppBundle
        uses: actions/upload-artifact@v4
        with:
          name: unustasis-apk
          path: build/app/outputs/bundle/release/app-release.aab
